<form #frm="ngForm" (ngSubmit)="adicionar(frm)" autocomplete="off">
  <div class="ui-g">
    <div class="ui-g-12">
      <h1>Cadastro de Livros</h1>
    </div>

    <div class ="ui-g-6 ui-fluid">
      <label>Autor</label>
      <input pInputText name = "author" ngModel [required]="true">  
    </div>

    <div class ="ui-g-6 ui-fluid">
      <label>Titulo</label>
      <input pInputText name = "title" ngModel [required]="true">    
    </div>

    <div class ="ui-g-6 ui-fluid">
      <label>Categoria</label>
      <input pInputText name = "category" ngModel [required]="true">    
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="Adicionar" [disabled]="frm.invalid" ></button>
    </div> 
  </div>
</form>

<div class="ui-g">
    <div class="ui-g-12">
      <p-dataTable [value] = "itensConsulta">
        <p-column field="author" header= "Autor"></p-column>
        <p-column field="title" header="Titulo"></p-column>
        <p-column field="category" header="Categoria"></p-column>
      </p-dataTable>
  </div>
</div>